# Dependency directories
node_modules/
.env
/backend/driveapi.p12
/Backend-New/clips
/Frontend-Test/public
/Backend-New/bin/Debug/net8.0
/Backend-New/.vs
/.vs/Clipupload-Discord
/Backend-New/appsettings.json
/backend/clips
/frontend/.nuxt
/backend/.vs/backend
/backend/bin
/backend/obj
backend/obj/backend.csproj.nuget.dgspec.json
backend/obj/Backend.csproj.nuget.g.props
backend/obj/Backend.csproj.nuget.g.targets
backend/obj/project.assets.json
backend/obj/project.nuget.cache
backend/obj/Debug/net8.0/Backend.AssemblyInfo.cs
backend/obj/Debug/net8.0/Backend.AssemblyInfoInputs.cache
backend/obj/Debug/net8.0/Backend.assets.cache
backend/obj/Debug/net8.0/Backend.csproj.AssemblyReference.cache
backend/obj/Debug/net8.0/Backend.GeneratedMSBuildEditorConfig.editorconfig
